# Byte-compiled files
__pycache__/

# Virtual environment directory
venv/

# VSCode settings
.vscode/

# Environment variables and credentials
.env
*.env

# Image inputs and Outputs
inference/output/
inference/input/